<div class="container">

  <div class="col-md-12 yellowtext large-text text-">
    <%= @user.username %>
  </div>

  <div class="col-md-6 yellowtext small-text text-left">
    <%= @user.email %>
  </div>
  
  <% if current_user == @user %>
    <div class="col-md-6 yellowtext small-text text-right">
      <%= link_to "Edit User", edit_user_registration_path, class: "btn-sm btn-warning"%>
    </div>
  <% end %>



  <div class="col-md-12 text-center">

    <div class="indexspacer"><hr></div>

      <div class="col-md-4 yellowtext medium-text text-center">
      
        <%= @user.username %>'s Managed Projects
        <br>

        <br>
      
    </div>

        <div class="col-md-4 yellowtext medium-text text-center">
      
          <%= @user.username %>'s Watched Projects
          <br>

          <br>  
      
        </div>

    <div class="col-md-4 yellowtext medium-text text-center">
    
      <%= @user.username %>'s Contributed Projects
      <br>

      <br>
    
    </div>

      
    <div class="col-md-4">
      <% @user.projects.each do |p| %>

        <div class="col-md-12">

          <%= link_to p.title, p, class: "indexlinks", :style => "text-decoration:none" %>

        </div>

      <% end %>
    </div>

<div class="col-md-4">
      <% @watches.each do |w| %>

        <div class="col-md-12">
        
          <%= link_to w.title, w, class: "indexlinks", :style => "text-decoration:none" %>
        
        </div>

      <% end %>
</div>

<div class="col-md-4">
      <% @contributors.each do |c| %>

        <div class="col-md-12">

          <%= link_to c.title, c, class: "indexlinks", :style => "text-decoration:none" %>

        </div>

      <% end %>
</div>

  </div>

</div>