<%= simple_form_for(@project) do |f| %>

<div class="container">
  <div class="col-md-8">
    <div class="col-md-8">
        <%= f.label :title %><br>
        <%= f.text_field :title, class: "form-control" %>
      </div>
      <div class="col-md-8">
        <%= f.label :description %><br>
        <%= f.text_area :description, class: "form-control" %>
      </div>
      <div class="col-md-7">
        <%= f.label :start_date %><br>
        <%= f.datetime_select :start_date, class: "form-control" %>
      </div>
      <div class="col-md-7">
        <%= f.label :due_date %><br>
        <%= f.datetime_select :due_date, class: "form-control" %>
      </div>
      <div class="col-md-6">
        <br />
        <%= f.submit class: "btn btn-warning" %>
    </div>
 </div>

   <div class="col-md-4" id="contributor-adder">

    <%= f.collection_check_boxes :contributor_ids, User.all, :id, :username, checked: User.all.map(&:id) do |b| %>
  <div class="col-md-12">
    <%= b.check_box %> &nbsp; <%= b.label %>
  </div>
  <% end %>
</div>
<% end %>

</div>
