<div class="jumbotron">

<!-- PROGRESS CIRCLE -->
<div class="circle"></div>

<!-- PROGRESS CIRCLE NUMBER -->
<div id="circletext"></div>

  <!-- PROJECT TITLE -->
  <% if @project.title.length >= 23 %>
      <h2> <%= @project.title %> </h2>
    <% else %>
      <h1> <%= @project.title %> </h1>
  <% end %>

<!-- START_TIME AND DUE_DATE -->
  <p id="starttext" > Starts : <%= @project.start_date %> </p>
  <p id="duetext"> Projected Completion : <%= @project.due_date %> </p>

<!-- WATCH BUTTON -->
<% if current_user != @project.user %>
    <% if user_signed_in? && current_user.has_watched?(@project) %>
        <% @watch = current_user.watches.find_by_project_id(@project) %>
        <%= link_to "Unwatch", project_watch_path(@project, @watch), class: "btn btn-warning", method: :delete %>
      <% else %>
        <%= link_to "Watch", project_watches_path(@project), class: "btn btn-warning", method: :post %>
    <% end %>
<% end %>

<!-- EDIT / DELETE BUTTONS -->
<% if current_user == @project.user %>
  <%= link_to "Delete", project_path(@project), method: :delete, class: "btn btn-danger", data: {confirm: "Are you sure?"} %>
  <%= link_to "Edit", edit_project_path(@project), class: "btn btn-info" %>
<% end %>


</div>


<!-- TITLES -->
<div class="col-md-8 text-center showtitles">
  <h2>Project Description</h2>
</div>

<div class="col-md-4 text-center showtitles">
  <h2>Contributors</h2>
</div>


<!-- PROJECT DESCRIPTION -->
<hr>
<div class="container">
  
  <div class="col-md-8" id="showdesc">
    <%= @project.description %>
  </div>

<!-- PROJECT CONTRIBUTORS -->
    <div class="col-md-4 yellowtext text-center" id="showmembers">
      <% @project.contributors.each do |c| %>
      <% if c == current_user %>
        <%= link_to c.username, c, class: "showlinks", :style => ("text-decoration:none") %> ( you )
      <% else %>
        <%= link_to c.username, c, class: "showlinks", :style => ("text-decoration:none") %>
      <% end %>
    <% end %>
</div>

</div>

<!-- PROGRESS BAR -->
<div class="progress">
  <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%">
    0%
  </div>
</div>

<!-- 2ND TITLES -->
<div class="col-md-8 text-center" id="taskdiv">
    <h4 class="swaptitle">Incompleted Tasks</h4>
</div>

<div class="col-md-4 text-center" id="taskdiv">
    <h4>Completed Tasks</h4>
</div>

<!-- TASK NAVIGATION -->
<div class="col-md-8 text-center">
 
<div class="col-md-1" id="createtask">
  <h4><span class="glyphicon glyphicon-pencil"></span></h4>
</div>

<div class="col-md-6">
  <%= render "tasks/form" %>
</div>

<div class="col-md-6">
  <%= render "comments/form" %>
</div>

<div class="spacer"></div>
<hr>

<div class="col-md-1" id="menubar">
  <h4> <span class="glyphicon glyphicon-minus" id="arrowtoggle"></span></h4>
</div>

<div class="col-md-1" id="menutask">
  <h4> <span class="glyphicon glyphicon-bell"></span> </h4>
</div>

<div class="col-md-1" id="menudiscussion">
  <h4> <span class="glyphicon glyphicon-comment"></span> </h4>
</div>

<!-- TASKLIST -->
<div class="tasklist">
  <% @project.tasks.each do |task| %>
        
      <%= render partial: "/tasks/task",  locals: { task: task} %>

    <% end %>
</div>

<!-- DISCUSSION -->
<div class="disscusionlist">
  <% @project.comments.each do |comment| %>

       <%= render partial: "/comments/comment",  locals: { comment: comment} %>

    <% end %>
</div>

</div>





<div class="col-md-4 text-center" id="claimedtasks"></div>

<div class="spacer">
  <br>
</div>
<hr>


<!-- COMPLETED TASKS -->
<div class="col-md-4 completed-tasklist">

<% @project.tasks.each do |t| %>

  <div class="col-md-12 text-right">
    
    <% if t.completion != false %>
      <div class="indtask-done">
        <div class="col-md-12 text-left">
          <%= t.description %>
        </div>
      </div>
          <br> 
          <br>
            <div class="col-md-12 text-right commenttime">
              completed by: &nbsp; <%= t.user_username %>
            </div>
              <div class="col-md-12 text-right usersemail">
                <%= t.user_email %>
              </div>
            <div class="col-sm-12">
              <hr>
            </div>




    <% end %>
  </div>

<% end %>


</div>