<!DOCTYPE html>
<html>
<head>
  <title>ProjectManagerTool</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
      

    <div class="header">
     
       <div class="col-md-4 text-center" id="logo">
          <%= image_tag("blunderbuss.png") %>
    </div>

      <div class="col-md-1 text-center">
         <%= link_to "home", root_path, class: "navlink", :style => "text-decoration:none" %>
      </div>
      <div class="col-md-2 text-center">
        <%= link_to "new project", new_project_path, class: "navlink", :style => "text-decoration:none"  %>
      </div>
     
    <% if user_signed_in? %>
    <div class="col-md-2 text-center">
      <%= link_to "account", current_user, class: "navlink", :style => "text-decoration:none"  %>
    </div>
    <div class="col-md-2 text-center">
      <%= link_to "sign out", destroy_user_session_path, :method => :delete, class: "navlink", :style => "text-decoration:none"  %>
    </div>
    <% else %>
    <div class="col-md-2 text-center">
      <%= link_to "sign in", new_user_session_path, class: "navlink" %>
    </div>
      <div class="col-md-2 text-center">
        <%= link_to "sign up", new_user_registration_path, class: "navlink"%>
      </div>
     <% end %>
    </div>







<%= yield %>

</body>
</html>
